#map{enable-background:new 0 0 993 900;}
.st0{fill:#B91C1C;}
.st1{fill:#111827;}
.st2{font-family:'KoHo-Medium';}
.st3{font-size:16px;}
.st4{fill:#A57B83;}
.st5{fill:#B62A2B;}
.st6{fill:#9CA3AF;}
.st7{fill:#9F95A0;}
.st8{fill:#AD5257;}
.st9{fill:#B04548;}
.st10{fill:#A28892;}
.st11{fill:none;stroke:#4B5563;}